// Place all the styles related to the Portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$highlight_color: #660000;

@mixin inline-list {
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

li {
  display: inline;
  padding: 0 10px 0 0;
  margin: 0;
  }
li + li { padding-left:10px; border-left:1px solid #000;}
  }
}

#portlet {
  margin: 0;
  padding: 3px 10px 3px 20px;
  background-position:left 5px;
  background-image: none;
  background-repeat:no-repeat;
  cursor: auto;
  background-color: lighten($highlight_color, 75%);
  /*border-top: 1px solid #000;*/
  @include inline-list;
  ul.inline { float:right;}
}



